body{
	margin: 0;
	font-family: sans-serif;
}

.panel{
	margin: 0;
	width: 100%;
	height: 100vh;
	background: #282828;
}

.logo{
	width: 192px;
	height: 60px;
}

.logo img{
	width: 135px;
	margin-top: 20px;
	margin-left: 35px;
}

.panel table{
	text-align: center;
	border: 0;
}

.panel td {
	height: 60px;
	width: 192px;
}

.panel a{
	color: white;
	text-decoration: none;
	font-weight: bold;
}

.panel td:hover{
	background: red;
	transition: 0.3s ease;
}